<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/board/index.css') }}">
</head>
<body>
    <header>
        <ul>
            <nav id="go-home">
                <li><a href="{{ url_for('index.root') }}" title="Go to Home">Home</a></li>
            </nav>
            <li><h1>{{ header }}</h1></li>
          </ul>
    </header>
    <div class="container">
        <div class="board-header">
            <h1>{{ board_title }}</h1>
            <form action="{{ url_for('board.get_board_new_post') }}" method="get" style="margin: 0;">
              <button type="submit">글 작성</button>
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td>{{ post._id }}</td>
                    <td><a href="{{ url_for('board.get_board_post', post_id=post._id)}}"> {{ post.title }} </td>
                    <td>{{ post.author }}</td>
                    <td>{{ post.created_at }}</td>
                    <td>{{ post.views }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>