<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/board/post.css') }}">
</head>
<body>
  <header class="board-header">
    <h1>View Post</h1>
    <form action="{{ url_for('board.get_board_root') }}" method="get">
      <button type="submit">Back to Board</button>
  </header>
  <div class="container">
    <h2>Sample Post Title</h2>
    {% if post.author == 'admin' %}
    <p><strong>Author:</strong> <span style="color: red;">{{ post.author }}</span></p>
    {% else %}
    <p><strong>Author:</strong> {{ post.author }}</p>
    {% endif %}
    <p><strong>Date:</strong> {{ post.created_at }}</p>
    <hr>
    <p>{{ post.content }}</p>
    <div class="form-actions">
      <button>Edit</button>
      <button type="reset">Delete</button>
    </div>
  </div>
</body>
</html>
