<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <title>채찍피티 & 잼민이 & 김민재가 함께 만든 홈 페이지</title>
    <!-- Insert logo -->
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
    <!-- Insert favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
    <!-- LaTex 해석을 위한 MathJAX 설정 -->
    <!-- https://docs.mathjax.org/en/latest/web/configuration.html -->
    <script>
        MathJax = {
          tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
          },
          svg: {
            fontCache: 'global'
          }
        };
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</head>
<body>
    <header>
        <h1>채찍피티 & 잼민이와 함께 만드는 토이 프로젝트</h1>
        <nav>
            <ul>
                <li><a href="/">홈</a></li>
                <li><a href="/board">게시물</a></li>
                <li><a href="/movies">영화 추천</a></li>
                <li><a href="/login">로그인</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="introduce_page">
            <h2>채찍피티 & 잼민이 & 김민재가 함께 만든 홈 페이지</h2>
            <p>이 홈 페이지는 김민재, 채찍피티(ChatGPT), 잼민이(Gemini)가 만든 홈 페이지 입니다.</p>
        </section>

        <section id="introduce_me">
            <div id="markdown_content">
                <div id="markdown-content">
                    {{ markdown_content | safe }} {# Flask에서 렌더링된 HTML을 삽입합니다. #}
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; Minjae Kim All Rights Reserved.</p>
    </footer>
</body>
</html>