<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <title>개인 홈페이지</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
</head>
<body>
    <header>
        <nav>
            <a href="/">홈</a>
            <a href="/board">게시판</a>
            <a href="/movie">영화 추천</a>
            <a href="/projects">개인 프로젝트</a>
            <a href="/contact">연락처</a>
        </nav>
        <div class="hamburger" aria-label="Toggle Navigation" >
            &#9776;
        </div>
    </header>
    <main>
        <section id="about">
            <h2>About me</h2>
            <p>김민재</p>
            <p id="about_li"></p>
        </section>
        <section id="introduce">
            <h2>소개</h2>
            <p>안녕하세요.</p>
        </section>
        <section id="education">
            <h2>학력</h2>
            <ul>
                <li>초등학교: 남부초등학교</li>
                <li>중학교: 남서울중학교</li>
                <li>고등학교: 성보고등학교</li>
            </ul>
            <p id="education_li"></p>
        </section>
        <section id="publication">
            <h2>Publications</h2>
            <ul>
                <li>김민재 ~~~ 2024</li>
                <li>김민재 ~~~ 2025</li>
            </ul>
            <p id="publication_li"></p>
        </section>
    </main>

    <aside class="side-nav hidden" role="navigation" aria-label="Section Navigation">
        <ul>
            <li><a href="#about" title="about">About me</a></li>
            <li><a href="#introduce" title="소개 섹션으로 이동">Introduce</a></li>
            <li><a href="#education" title="학력 섹션으로 이동">Education</a></li>
            <li><a href="#publication" title="출판 섹션으로 이동">Publication</a></li>
        </ul>
    </aside>
    <footer>
        <p>&copy; Minjae Kim All Rights Reserved.</p>
    </footer>
</body>
</html>